html,
body {
    padding: 0%;
    margin: 0%;
    background-color: rgb(30, 28, 28);
    color: white;
    font-family: sans-serif;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0%;
    margin: 0%;
    gap: 10px;
    list-style: none;

}

nav li {
    color: white;
}

nav img {
    padding: 0%;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    }

h1 {
    display: flex;
    color:  #DAA520 ;
}

header {
    padding: 4%;
    margin: 0%;

}

.button {

    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    height: 60px;
    width: 160px;
    color: white;
    white-space: nowrap;
}

.card-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 8px;
}

.card-container {
    display: flex;
    gap: 16px;
    padding: 0px;
    margin: 0%;
}

.principale {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.droite {
    display: flex;
    height: 70%;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: x-large;
    padding: 3%;
}


.deplacement {
    display: flex;
    justify-content: space-evenly;

}

.tailleetoile {
    height: 5%;
    width: 30%;

}

.tailleimg {
    height: 60%;
    width: 80%;
    border: 5px solid white;
    border-radius: 20%;

}

.depboutton {

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: white;
}



nav div {
    display: flex;
    justify-content: space-between;
}

nav {
    padding: 2%;
    box-shadow: 0px -5px 12px 7px;
    background-color: black;
}

.card-containers {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.tete {
    border-radius: 100%;
}

.chk {
    width: 40vw;
}

a {
    text-decoration: none;
}

footer {
    padding: 2%;
    box-shadow: 0px -5px 12px 7px;
    background-color: rgb(40, 38, 38);
}

section {
    padding: 4%;

}

.tailleimg1 {
    height: 100%;
    width: 100%;
}

footer img:hover {
    border: 5px solid red
}
header img{
    border: 5px solid white;
}

main{
    padding: 0%;
}
.color{
    background-color: rgb(40, 38, 38);
}
.azerty{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.collogo{
    background-color: black;
}